@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "warden";
  src: url("../fonts/Warden-Regular.woff2") format("woff2");
  font-display: swap;
}