.game-wrapper {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-family: "warden";

  .meter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;

    .col {
      width: 100%;

      &.pause-col {
        text-align: end;
        align-self: start;

        .pause-img {
          width: 40px;
          cursor: pointer;
          filter: brightness(0) saturate(100%) invert(100%) sepia(35%) saturate(0%) hue-rotate(171deg) brightness(109%) contrast(100%);
          margin: 8px;
        }
      }
    }

    .meter-divider {
      border: 1px solid #fff;
    }

    .speed-meter {
      font-size: 42px;
      font-weight: 600;
    }


  }

  .meter-values {
    display: flex;
    justify-content: space-between;
  }

  .counter-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 10rem;
      font-weight: 500;
    }
  }

  .pause-screen {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .pause-screen-wrap {
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 5px solid #fff;
      border-radius: 18px;
      background-color: #D2E0FB;
      backdrop-filter: blur(8px);
      width: fit-content;

      .btn {
        border: 3px solid #fff;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 6px 32px;
        cursor: pointer;
        &.resume {
          background-color: #A1C398;
        }

        &.retry {
          background-color: #B3A398;
        }

        &.exit {
          background-color: #FA7070;
        }
      }
    }
  }
}