.game-wrapper {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-family: "warden";

  .meter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;

    .col {
      width: 100%;

      &.pause-col {
        text-align: end;
        align-self: start;

        .pause-img {
          width: 40px;
          cursor: pointer;
          filter: brightness(0) saturate(100%) invert(100%) sepia(35%) saturate(0%) hue-rotate(171deg) brightness(109%) contrast(100%);
          margin: 8px;
        }
      }

      &.high-score-col {
        text-align: start;
        align-self: start;
        padding-left: 4px;
      }
    }

    .meter-divider {
      border: 1px solid #fff;
    }

    .speed-meter {
      font-size: 42px;
      font-weight: 600;
    }


  }

  .meter-values {
    display: flex;
    justify-content: space-between;
  }

  .counter-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 10rem;
      font-weight: 500;
    }
  }

  .pause-screen {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .pause-screen-wrap {
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 5px solid #fff;
      border-radius: 18px;
      background-color: #D2E0FB;
      backdrop-filter: blur(8px);
      width: fit-content;

      .btn {
        border: 3px solid #fff;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 6px 32px;
        cursor: pointer;

        &.resume {
          background-color: #A1C398;
        }

        &.sound {
          background-color: #f4d1b8;
        }

        &.retry {
          background-color: #B3A398;
        }

        &.exit {
          background-color: #FA7070;
        }
      }
    }
  }

  .score-screen {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .score-screen-wrap {
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 5px solid #fff;
      border-radius: 18px;
      background-color: #f3ecc8;
      backdrop-filter: blur(8px);
      width: fit-content;

      .score-card {
        p {
          margin: 0;
          font-size: x-large;
          color: #FFD700;
          font-weight: 600;
          letter-spacing: 2px;
          -webkit-text-stroke-width: .5px;
          -webkit-text-stroke-color: black;
        }

        h4 {
          margin: 0;
          font-size: xx-large;
          color: #FFD700;
          font-weight: 600;
          -webkit-text-stroke-width: .5px;
          -webkit-text-stroke-color: #000;
        }

      }
      .high-score-card {
        p {
          margin: 0;
          font-size: x-large;
          color: #c81515;
          font-weight: 600;
          letter-spacing: 2px;
          -webkit-text-stroke-width: .5px;
          -webkit-text-stroke-color: #000;
        }

        h4 {
          margin: 0;
          font-size: xx-large;
          color: #c81515;
          font-weight: 600;
          -webkit-text-stroke-width: .5px;
          -webkit-text-stroke-color: black;
        }

      }

      .btn {
        border: 3px solid #fff;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 6px 32px;
        cursor: pointer;


        &.retry {
          background-color: #A1C398;
        }

        &.exit {
          background-color: #FA7070;
        }
      }
    }
  }

  .mobile-control {
    position: fixed;
    width: 100%;
    bottom: 0;

    .mobile-control-wrap {
      display: flex;
      justify-content: space-between;
      padding: 0 12px 6px 18px;

      img {
        filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(10%) hue-rotate(175deg) brightness(103%) contrast(102%);

        &:active {
          filter: brightness(0) saturate(100%) invert(71%) sepia(78%) saturate(1%) hue-rotate(23deg) brightness(97%) contrast(91%);
        }
      }

      .left-or-right {
        display: flex;
        gap: 22px;

        img {
          filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(10%) hue-rotate(175deg) brightness(103%) contrast(102%);
        }
      }

      .accelerator-or-break {
        display: flex;
        gap: 22px;


      }
    }
  }
}